.bgDest {
  background-image: url("/src/assets/destination/background-destination-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  color: white;
}

.heroTitle span {
  font-weight: 700;
  letter-spacing: 2.7px;
  color: #ffffff;
  opacity: 0.25;
  margin-right: 10px;
}
.heroTitle h3 {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 2rem;
  letter-spacing: 2.7px;
}
.heroImg {
  width: 170px;
  height: auto;
}
.heroImg img {
  width: 100%;
}
.contentTabs p {
  font-size: 14px;
  color: var(--medium_color);
  padding: 10px 0;
  margin-bottom: 0;
}
.contentTabs p:hover {
  cursor: pointer;
  border-bottom: solid 1px #fffb;
}
.contentTabs .active {
  color: #fff;
  border-bottom: solid 2px white;
}
.name {
  margin-top: 0 !important;
  font-size: 56px;
  font-family: var(--bellefair);
  text-transform: uppercase;
}
.dataName {
  font-family: var(--bellefair);
  font-size: 24px;
  text-transform: uppercase;
}
.description {
  width: 100%;
  padding: 10px 2rem;
  font-size: 15px;
  color: var(--medium_color);
}
.details {
  text-transform: uppercase;
}
.details h5 {
  color: #d0d6f9;
  font-size: 14px;
  letter-spacing: 2.3625px;
}
.details p {
  font-size: 28px;
  font-family: var(--bellefair);
}

@media only screen and (min-width: 768px) {
  .bgDest {
    background-image: url("/src//assets//destination/background-destination-tablet.jpg");
  }
  .heroTitle h3 {
    font-size: 20px;
    text-align: left;
    margin-left: 3rem;
  }
  .heroImg {
    width: 300px;
  }
  .contentTabs div {
    width: 50%;
    margin: 1rem auto;
  }
  .contentTabs p {
    font-size: 16px;
  }
  .name {
    font-size: 80px;
  }
  .dataName {
    font-size: 40px;
  }
  .description {
    font-size: 16px;
    width: 80%;
    margin: auto;
  }
  .content hr {
    width: 80%;
    margin-left: 10%;
  }
  .details {
    width: 60%;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
  
}

@media only screen and (min-width: 992px) {
  .bgDest {
    background-image: url("/src//assets//destination/background-destination-desktop.jpg");
  }
}
