.app {
  position: relative;
}
.navbarCon {
  position: absolute;
  max-width: 100%;
}
.topSpace {
  padding-top: 6rem;
}

@media only screen and (min-width: 992px) {
  .topSpace {
    padding-top: 10rem;
  }
}
